@font-face {
  font-family: "Roboto Thin";
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, FiraSans, DroidSans, Helvetica Neue, sans-serif;
  font-size: 11pt;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
a {
  color: #3971ed;
  text-decoration: none;
}
a:hover {
  color: #4282fe;
}

fieldset {
  border: none;
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  box-shadow: 0 0px 2px rgba(0,0,0,0.1);
  display: flex;
}

.logo {
}

.logo-icon {
  width: 2.8rem;
  height: 2.8rem;
}

.nav {
}

.footer {
}

.input {
  padding: 0.2rem 0.4rem;
  font-size: 1.4rem;
  border: 1px solid #eee;
}
.input:hover, input:focus {
  border: 1px solid #4282fe;
}

.button {
  padding: 0.4rem 0.8rem;
}

.button-join {
  font-size: 1.4rem;
  background-color: #198844;
  color: #fff;
}

.button-send {
  font-size: 1.2rem;
  background-color: #3971ed;
  color: #fff;
}
